<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InciWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CFAInciWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InciWatch.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="StreamListenerPath" serializeAs="String">
                <value>C:\Program Files\VideoLAN\VLC\vlc.exe</value>
            </setting>
            <setting name="StartStreamOnWatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCantUpdateMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWatchOnIncidentSafe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseWatchOnIncidentSafeDelay" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="CheckUpdatesOnOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdatesOnAbout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OldJobCutoffHours" serializeAs="String">
                <value>24</value>
            </setting>
        </InciWatch.Properties.Settings>
        <CFAInciWatch.Properties.Settings>
            <setting name="AutoWatchSuburb" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AutoWatchAddress" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AutoWatchTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AutoWatchStatus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AutoWatchRegion" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AutoWatchAppliances" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoWatchSize" serializeAs="String">
                <value />
            </setting>
            <setting name="GathererSourceURL" serializeAs="String">
                <value>http://www.cfa.vic.gov.au/incidents/incident_summary_rss.xml</value>
            </setting>
            <setting name="GathererRefreshInterval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ActionDiamond" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionSquare" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionCircle" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamListenerPath" serializeAs="String">
                <value>C:\Program Files\VideoLAN\VLC\vlc.exe</value>
            </setting>
            <setting name="StreamListenerArgs" serializeAs="String">
                <value>%STREAM%</value>
            </setting>
            <setting name="StreamURL2" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL4" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL5" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL6" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL7" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL8" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL9" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL10" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL11" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL12" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL13" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL14" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL15" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL16" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL17" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL18" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL20" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL22" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL23" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL24" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionCircleArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionSquareArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionDiamondArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="StartStreamOnWatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCantUpdateMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWatchOnIncidentSafe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseWatchOnIncidentSafeDelay" serializeAs="String">
                <value>120</value>
            </setting>
        </CFAInciWatch.Properties.Settings>
    </userSettings>
</configuration>