<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CFAIncidentSource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CFAIncidentSource.Properties.Settings>
            <setting name="AutoWatchAppliances" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoWatchSize" serializeAs="String">
                <value />
            </setting>
            <setting name="GathererSourceURL" serializeAs="String">
                <value>http://osom.cfa.vic.gov.au/public/osom/IN_COMING.rss</value>
            </setting>
            <setting name="ActionDiamond" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionSquare" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionCircle" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL2" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL4" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL5" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL6" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL7" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL8" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL9" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL10" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL11" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL12" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL13" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL14" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL15" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL16" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL17" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL18" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL20" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL22" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL23" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamURL24" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionCircleArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionSquareArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionDiamondArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamListenerArgs" serializeAs="String">
                <value>%STREAM%</value>
            </setting>
        </CFAIncidentSource.Properties.Settings>
    </userSettings>
</configuration>