<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MFBIncidentSource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MFBIncidentSource.Properties.Settings>
            <setting name="IncidentSourceURL" serializeAs="String">
                <value>http://www.mfb.vic.gov.au/Xml/data.xml</value>
            </setting>
            <setting name="StreamURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionDiamond" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionDiamondArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionSquare" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionSquareArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionCircle" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionCircleArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoWatchApplianceCount" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AutoWatchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </MFBIncidentSource.Properties.Settings>
    </userSettings>
</configuration>